---
import "@fontsource-variable/inter";
import "../assets/css/global.css";

import Theme from "../components/Theme.astro";
import Navbar from "../components/Navbar.astro";
---

<html lang="ru">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Foods</title>
  </head>
  <body>
    <Theme />
    <Navbar />
  </body>
</html>

<script>
  import "boxicons";
  import Alpine from "alpinejs";
  Alpine.start();
</script>
