---
import "@fontsource-variable/inter";
import "../assets/css/global.css";

import { getCollection } from "astro:content";
import { sortDishes } from "../utils/helpers";
const recipes = sortDishes(await getCollection("recipes"));

import Theme from "../components/Theme.astro";
import Navbar from "../components/Navbar.astro";
---

<html lang="ru">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Foods</title>
  </head>
  <body>
    <Theme />
    <Navbar />
  </body>
</html>

<script>
  import "boxicons";
  import Alpine from "alpinejs";
  window["Alpine"] = Alpine;
  Alpine.start();
</script>

<script define:vars={{ recipes }}>
  document.addEventListener("alpine:init", () => {
    Alpine.store("global", {
      select: [],
      buy: [],

      get recipes() {
        return recipes;
      },

      get count() {
        return {
          dishes: this.recipes.length,
          select: this.select.length,
          foods: 12,
        };
      },

      toggleSelect(dish) {
        const index = this.select.indexOf(dish.slug);
        if (index === -1) this.select.push(dish.slug);
        else this.select.splice(index, 1);
      },
    });
  });
</script>
