---
import ListTitle from "./ListTitle.astro";
import DishesSearch from "./DishesSearch.astro";
import ListEmpty from "./ListEmpty.astro";
---

<ListTitle title="Блюда" />
<DishesSearch />

<template x-for="dish in dishes" :key="dish.slug">
  <div>
    <div class="flex justify-between items-center gap-4">
      <div
        @click="showRecipe(dish.data.name, dish.slug)"
        x-text="dish.data.name"
        class="cursor-pointer"
      >
      </div>
      <button
        @click="toggleSelect(dish)"
        class="btn btn-sm btn-square btn-outline"
      >
        <box-icon name="plus" class="fill-current"></box-icon>
      </button>
    </div>
    <div class="divider my-1"></div>
  </div>
</template>

<ListEmpty show="!dishes.length" text="Блюда не найдены." />
