<div class="input input-bordered w-full mb-6 flex items-center">
  <box-icon name="search" class="fill-current"></box-icon>
  <input
    x-model="search"
    type="text"
    placeholder="Поиск..."
    class="input border-0 w-full h-full"
  />
  <div x-text="dishes.length" class="text-sm"></div>
</div>
