<h1 class="text-2xl text-center font-semibold mb-4">Блюда</h1>

<div class="input input-bordered w-full pe-0 mb-6 flex items-center">
  <box-icon name="search" class="fill-current"></box-icon>
  <input
    x-model="search"
    type="text"
    placeholder="Поиск..."
    class="input border-0 w-full h-full"
  />
</div>

<template x-for="dish in dishes" :key="dish.slug">
  <div>
    <div class="flex justify-between items-center gap-4">
      <div x-text="dish.data.name"></div>
      <button
        @click="toggleSelect(dish)"
        class="btn btn-sm btn-square btn-outline"
      >
        <box-icon name="plus" class="fill-current"></box-icon>
      </button>
    </div>
    <div class="divider my-1"></div>
  </div>
</template>

<div x-show="!dishes.length" class="text-center">Блюда не найдены.</div>
