<div @click="openRecipe" class="cursor-pointer">
  <span x-text="dish.data.name">
    <!-- <box-icon
        x-show="dish.frontmatter.content"
        type="solid"
        name="file"
        class="align-middle fill-current"
      ></box-icon> -->
  </span>
</div>

<dialog x-ref="recipe" class="modal">
  <div class="modal-box">
    <form method="dialog">
      <button class="btn btn-sm btn-circle btn-ghost absolute right-3 top-2">
        <box-icon name="x" class="fill-current"></box-icon>
      </button>
    </form>
    <div class="prose">
      <h2 x-text="dish.data.name"></h2>
      <!-- <div
          v-html="
            dish.frontmatter.content
              ? dish.frontmatter.content
              : 'Рецепт скоро будет добавлен.'
          "
        ></div> -->
    </div>
    <div class="modal-action">
      <form method="dialog">
        <button class="btn">Закрыть</button>
      </form>
    </div>
  </div>
</dialog>
