<div class="indicator flex-grow flex-shrink">
  <span
    x-text="foods.length"
    class="indicator-item badge font-medium -top-1 end-4"></span>
  <button
    @click="view = 'foods'"
    class="btn btn-square btn-outline w-full"
    :class="view ==='foods' && 'btn-active'"
  >
    <box-icon type="solid" name="cart" class="fill-current"></box-icon>
  </button>
</div>
