<form class="flex gap-2 mb-6">
  <input
    x-model="add"
    type="text"
    placeholder="Название"
    class="input input-bordered flex-grow flex-shrink min-w-20"
  />
  <button
    @click="addFood"
    type="submit"
    class="btn btn-outline flex-grow px-2"
    :disabled="!add">
    <box-icon name="list-plus" class="fill-current"></box-icon>
  </button>
</form>
