---
import ListTitle from "./ListTitle.astro";
import FoodsAdd from "./FoodsAdd.astro";
import FoodsHide from "./FoodsHide.astro";
import ListEmpty from "./ListEmpty.astro";
---

<ListTitle title="Купить" />
<FoodsAdd />

<template x-for="food in hidefoods" :key="food.slug">
  <div>
    <div class="flex justify-between items-center gap-4">
      <div>
        <div x-text="food.name" :class="isBuy(food) && 'line-through'"></div>
        <div x-text="food.dish" class="text-xs"></div>
      </div>
      <button
        @click="toggleBuy(food)"
        class="btn btn-sm btn-square btn-outline">
        <box-icon x-show="isBuy(food)" name="check" class="fill-current"
        ></box-icon>
      </button>
    </div>
    <div class="divider my-1"></div>
  </div>
</template>

<FoodsHide />

<ListEmpty
  show="!foods.length"
  text="Выберите блюда или добавьте покупки вручную."
/>
