<div class="indicator flex-grow flex-shrink pt-1">
  <span x-text="select.length" class="indicator-item badge font-medium me-6">
  </span>
  <button
    @click="view = 'menu'"
    class="btn btn-square btn-outline w-full"
    :class="view ==='menu' && 'btn-active'"
  >
    <box-icon type="solid" name="food-menu" class="fill-current"></box-icon>
  </button>
</div>
