<dialog x-ref="recipe" class="modal">
  <div class="modal-box">
    <form method="dialog">
      <button class="btn btn-sm btn-circle btn-ghost absolute right-3 top-2">
        <box-icon name="x" class="fill-current"></box-icon>
      </button>
    </form>
    <div class="prose">
      <h2 x-text="name"></h2>
      <div x-html="recipe"></div>
    </div>
    <div class="modal-action">
      <form method="dialog">
        <button class="btn">Закрыть</button>
      </form>
    </div>
  </div>
</dialog>

<dialog x-ref="loader" class="modal">
  <span class="loading loading-spinner loading-lg"></span>
</dialog>
